**/*.jar
**/*.ser
**/*.class
**/*.vdr
**/*.graph
**/*.log
**/*.offsets
**/*.properties
**/*.uris
llamafurmatrix/
text-archive/
top-categories/
llamafur/evaluation/llamafur-vs-human.tsv
dist/
build/
jars/
.vscode
.ant_targets